/entorno

# Python bytecode
__pycache__/
**/__pycache__/
*.py[cod]

# Entornos virtuales
env/
venv/
entorno/
.env
.env.*

# Archivos de bases de datos y logs
*.sqlite3
*.db
*.log

# Archivos temporales
*.tmp
*.bak
*.swp
*.swo

# Cobertura y pruebas
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# IDEs y editores
.vscode/
.idea/
*.sublime-*
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Archivos sensibles
secrets.py
